body {
    font-family: 'Literata', serif;
    background-color: #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-box {
    position: relative;
    background-color: white;
    padding: 10px 30px;
    border-radius: 90px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 580px;
    height: 560px;
}

h2 {
    margin-bottom: 15px;
    font-size: 17px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    font-size: 13px;
}
span{

}
input {
    font-family: 'Literata', serif;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-family: 'Literata', serif;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

.register {
    background-color: #4caf50;
    color: black;
    margin: auto;
}

.login {
    background-color: #00bcd4;
    color: black;
    margin-top: 5px;
}

.back {
    color: black;
    text-decoration: none;
    font: 12px;
}
.password-control{
    position: absolute;
	width: 20px;
	height: 20px;
	background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}
#password-view{
    bottom: 175px;
    right: 40px;
}
#password-view1{
    bottom: 103px;
    right: 40px;
}
.left a{
    color: black;
    text-decoration: none;
}