* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1c1d17;
  color: white;
  font-family: 'Literata', serif;
}
.header-container {
  background-color: #ffffff;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0; 
}

.header-container-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.header-number a{
    text-decoration: none; 
    color: #333; 
    font-weight: 500;
    margin-left: 30px;
    font-size: 16px;
}

.header-container-logo img {
  display: block;
}

.header-container-list {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container-items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-container-items li {
  margin-right: 20px; 
}

.header-container-items li a {
  text-decoration: none; 
  color: #333;
  font-weight: 500; 
  font-size: 24px;
}

.header-container-items li a:hover {
  color: #007bff; 
}

.header-container-buttons {
  display: flex;
  gap: 10px; 
}

.login-button,
.register-button {
  padding: 8px 16px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  font-weight: 500; 
  font-family: 'Literata', serif;
  font-size: 15px;
}

.login-button {
  background-color: #007bff; 
  color: #fff; 
}

.register-button {
  background-color: #28a745; 
  color: #fff; 
}

.login-button:hover {
  background-color: #0056b3; 
}

.register-button:hover {
  background-color: #218838; 
}
.intro-section{
  position: relative; 
  height: 100vh; 
  background-image: url('/src/img/fon.jpg'); 
  background-size: cover; 
  background-position: center; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  color: white; 
}
.intro-section::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}
.intro-content{
  position: relative; 
  z-index: 2; 
  max-width: 800px; 
  padding: 20px; 
}
.intro-content h3{
  margin-bottom: 100px;
  padding: 10px;
  font-size: 24px; 
  font-weight: 400; 
 
}
.intro-button{
  margin-top: 100px;
  font-family: 'Literata', serif;
  padding: 14px 38px; 
  font-size: 16px; 
  color: black; 
  background-color: #f08412; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}
.intro-button:hover{
  background-color: #0056b3;
}
.popular-section {
  height: 95vh;
  text-align: center;
  margin-top: 30px; 
}

.popular-categories {
  display: flex;
  justify-content: center;
  gap: 40px; 
  margin-top: 30px; 
}

.category {
  margin-top: 80px;
  text-align: center;
  background: #FFFFFF; 
  padding: 20px;
  border-radius: 20px; 
  width: 360px; 
  height: 420px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.category img {
  width: 280px;
  height: 250px;
  border-radius: 15px;
}

.category-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  background: #e9ecef; 
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  margin-top: 10px;
}
.discount-section {
  text-align: center;
  margin-top: 30px;
}

.discount-goods {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 80px;
}

.good-wrapper {
  text-align: center;
}

.good {
  background: #FFFFFF;
  padding: 20px;
  border-radius: 20px;
  width: 360px;
  height: 350px; 
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.good img {
  width: 320px;
  height: 250px;
  border-radius: 15px;
}

.goods-title {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 15px;
}

.goods-price {
  margin-top: 5px;
  font-size: 18px;
}

.old-price {
  text-decoration: line-through;
  color: #a0a0a0;
  font-size: 16px;
  margin-right: 5px;
}

.new-price {
  font-size: 20px;
  font-weight: bold;
  color: #d32f2f;
}

.discount {
  font-size: 16px;
  font-weight: bold;
  color: #d32f2f;
  background: #ffecec;
  padding: 5px 10px;
  border-radius: 8px;
  margin-left: 5px;
}
.buy-now-button{
  margin-top: 20px;
  font-family: 'Literata', serif;
  padding: 14px 38px; 
  font-size: 16px; 
  color: black; 
  background-color: #f08412; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
}
.about-section {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-items {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.about-item {
  text-align: center;
  width: 320px;
}

.about-item p {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 15px;
  margin-top: 50px;
}

.about-item img {
  width: 300px; 
  height: 300px; 
  object-fit: cover; 
  border-radius: 15px; 
}
.footer {
  background: white; 
  color: #333; 
  padding: 30px 0;
  text-align: left; 
  
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-logo img {
  width: 77px;
  height: 83px;
  margin-left: 80px;
}

.politics,
.footer-contacts,
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.politics a,
.footer-contacts p,
.footer-social p {
  color: #333; 
  text-decoration: none;
  font-size: 14px;
}
.footer-social{
  margin-left: 120px;
}
.politics a:hover {
  color: #007bff; 
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons img {
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.footer-content > div {
  flex: 1;
  min-width: 180px;
}

.footer-content a {
  color: #333;
  text-decoration: none;
  font-size: 12px;
}

.footer-content a:hover {
  color: #007bff; 
  text-decoration: underline;
}
.footer-links{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}









